html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 0;
}

textarea, input {
    width: 100%;
    border: .5px solid white;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12pt;
    margin-bottom: .5rem;
}

textarea:focus, input:focus {
    outline: none;
}

.home-content {
    height: 100vh;
    width: 100vw;
}

.main {
    text-align: center;
    color: white;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.view-button{
    color: white;
    background: none;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    position: relative;
    margin-top: 1rem;
    font-size: 16pt;
    padding: 12px 20px 12px 20px;
}

.view-button:hover {
    background: white;
    color: black;
}

.about-me-container {
    margin-top: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: #444649;
    font-weight: bold;
    margin-bottom: 3rem;
    text-shadow: 2px 2px lightgray;
}

.contact-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 3rem;
    text-shadow: 2px 2px #555;
}

.about-me-content-container{
    display: flex;
    margin-bottom: 5rem;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2.5%;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.75);
}

.about-me-desc{
    margin-left: 10%;  
    font-size: 18px;
    line-height: 2;
    color: #444649;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.contact-container {
    background: #252934;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-container {
    min-width: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-field {
    color: white;
    background: #252934;
    font-family: 'Raleway', sans-serif;
    height: 30px;
}

.message-field {
    color: white;
    background: #252934;
    font-family: 'Raleway', sans-serif;
    resize: none;
}

.send-button {
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    color: white;
    background: none;
    border-radius: 12px;
    border: 1px solid white;
    padding: 12px 20px;
}

.send-button:hover {
    background: white;
    color: #252934;
    transition: .5s ease;
}

/* Typing effect styling */
.typewriter h1{
    color: rgb(227, 27, 109);
    overflow: hidden;
    border-right: .15em solid rgb(227, 27, 109);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret 1s step-end infinite;
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(227, 27, 109);
    }
}
/* navbar css */
.navbar {
    border-bottom: 5px solid teal;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: #24272E;
    padding: 1px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
  cursor: pointer;
}

.card{
    border-radius: 4px;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.75);
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-title {
    font-size: 14pt;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.card-info {
    font-size: 11pt;
    margin-left: .5rem;
    margin-right: .5rem;
}

.project-button {
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    color: lightgreen;
    background: none;
    border-radius: 12px;
    border: 1px solid lightgreen;
    padding: 12px 20px;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.project-button:hover {
    background: lightgreen;
    color: white;
    transition: .5s ease;
}

.copyright {
    color: white;
    text-align: center;
}

.highlight {
    color: #E31B6D;
}

footer {
    background: #1B242F;
    padding-top: 2rem;
    padding-bottom: 2rem;
}