html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 0;
}

.home-content {
    height: 100vh;
    width: 100vw;
}

.main {
    text-align: center;
    color: white;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.view-button{
    color: white;
    background: none;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    position: relative;
    margin-top: 1rem;
    font-size: 16pt;
    padding: 12px 20px 12px 20px;
}

.view-button:hover {
    background: white;
    color: black;
}

.about-me-container {
    margin-top: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: #444649;
    font-weight: bold;
    margin-bottom: 3rem;
    text-shadow: 2px 2px lightgray;
}

.profile-picture {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2.5%;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.75);
}

.about-me-desc{  
    font-size: 18px;
    line-height: 2;
    color: #444649;
}

/* Typing effect styling */
.typewriter h1{
    color: rgb(227, 27, 109);
    overflow: hidden;
    border-right: .15em solid rgb(227, 27, 109);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret 1s step-end infinite;
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(227, 27, 109);
    }
}
/* navbar css */
.navbar {
    border-bottom: 5px solid teal;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: #24272E;
    padding: 1px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
  cursor: pointer;
}

